# Ignore Python cache directories
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore Python bytecode files
*.py[cod]
*$py.class
# Ignore Lock files for package managers
*.lock
# Ignore virtual environment directories
.venv/
venv/
# Application specific
src/yasb.log
dist/
build/
# Temporary files
*.tmp
*.temp