# Ignore Python cache directories
__pycache__/
.ruff_cache/
YASB.egg-info/
*.pyc
*.pyo
*.pyd
# Ignore Python bytecode files
*.py[cod]
*$py.class
# Ignore Lock files for package managers
*.lock
# Ignore virtual environment directories
.venv/
venv/
# Application specific
src/yasb.log
dist/
build/
build_arm64/
build_x64/
# Test caches
.pytest_cache/
# Temporary files
*.tmp
*.temp
.cache
# IDE files
compile_commands.json
