PyQt6==6.7.1
PyQt6_sip
cerberus
humanize
psutil
pytz
pywin32
PyYAML
tzlocal
watchdog
winsdk
pycaw
winshell
pillow
qasync
requests
obs-websocket-py
pyvda
win11toast
git+https://github.com/amnweb/screen_brightness_control.git