PyQt6==6.7.1
PyQt6_sip
Cerberus
cssutils
humanize
psutil
pytz
pywin32
PyYAML
tzlocal
watchdog
winsdk
pyquery
pycaw
winshell
pillow
qasync
requests
obs-websocket-py
git+https://github.com/amnweb/pyvda.git
git+https://github.com/amnweb/screen_brightness_control.git