/*
.widget .label {} -> Global label for all
.active-window-widget {} -> Styles specific to the active window widget
.clock-widget {} -> Styles specific to the clock widget
.cpu-widget {} -> Styles specific to the CPU widget
.memory-widget {} -> Styles specific to the memory widget
.weather-widget {} -> Styles specific to the weather widget
.komorebi-workspaces {} -> Styles specific to komorebi workspaces
.komorebi-active-layout {} -> Styles specific to komorebi active layout
.volume-widget {} -> Styles specific to the volume widget 
.weather-widget {} -> Styles for power buttons and labels inside the popup 
.apps-widget {} -> Styles specific to the apps widget
.power-menu-widget {} -> Styles for the power menu button widget
.power-menu-popup {} -> Styles for the power menu popup widget
.power-menu-popup > .button {} -> Styles for power buttons inside the popup 
.power-menu-popup > .button > .icon,
.power-menu-popup > .button > .label {} -> Styles for power buttons icons and labels inside the popup 
*/
* {
    font-size: 14px;
    color: #8c91a7;  
    font-family: 'Segoe UI','JetBrainsMono NFP';
}
.yasb-bar {
    background-color:rgb(24, 24, 37);
    border:1px solid rgb(41, 42, 58);
    padding: 0 8px;
    border-radius: 16px;
}
.container-left,
.container-center,
.container-right {
    margin: 0;
    padding: 0
}
 
.widget {
    padding: 0 2px;    
}
.widget .label {
    padding: 0 2px 2px 2px; 
}
 
.ws-btn {
    background: rgb(168, 167, 167);
    color: rgb(0, 0 , 0);
    margin: 4px 3px;
    padding: 0 3px;
    border-radius: 3px;
}

.ws-btn:hover {
    background: rgb(194, 192, 214);
}

.ws-btn.active {
    background: rgb(224, 222, 244);
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.clock-widget .label {
    padding-bottom: 3px;
    background: none;
    font-size: 13px;
    padding-bottom: 2px;
    font-weight: 600;
}
.active-window-widget .label {
    text-transform: capitalize;
    font-size: 13px;
    padding-bottom:2px;
    font-weight: 600;
}
.komorebi-active-layout .label {
    padding-bottom: 1px;
}
.komorebi-workspaces {
    padding: 0 2px
}
.komorebi-workspaces .ws-btn {
    border-radius: 7px;
    font-size: 26px;
    width: 14px;
    height: 14px;
    padding: 0 2px;
    color:  rgb(88, 91, 112);
    background-color: rgba(0, 0, 0, 0)
}
.komorebi-workspaces .ws-btn:hover {
    color:  rgba(218, 231, 255, 0.5);
}
.komorebi-workspaces .ws-btn.populated {
    color:  rgb(127, 132, 156);
}
.komorebi-workspaces .ws-btn.active {
    background-color: rgb(147, 153, 178);
    color:  rgba(0,0,0,0);
    width:32px;
}

.fake-widget-left,
.fake-widget-right  {
    padding: 0; 
}
.fake-widget-left .label{
    color: rgb(41, 42, 58);
    background-color: rgb(24, 24, 37);
    font-size: 26px;
    padding: 0;
    margin-right:-10px;
}
.fake-widget-right .label{
    color: rgb(24, 24, 37);
    background-color: rgb(41, 42, 58);
    font-size: 26px;
    padding: 0;
    margin-right:-10px;
} 
.weather-widget .label {
    font-weight: 600;
}
.apps-widget,
.weather-widget,
.volume-widget,
.power-menu-widget {
    padding-left:0;
    padding-right: 0;
    background-color: rgb(41, 42, 58)
}

.apps-widget .label,
.weather-widget .label,
.volume-widget .label,
.power-menu-widget .label {
    padding-left:6px;
    padding-right: 6px;
    
}
.apps-widget .label:hover,
.weather-widget .label:hover,
.volume-widget .label:hover,
.power-menu-widget .label:hover {
    background-color: rgb(64, 64, 87);
    border-radius: 14px;
    color: white;
}
  
/*Power Buttons*/
.power-menu-widget .label {
    color: rgb(243, 139, 168)
}
.power-menu-popup {
    background-color: rgba(24, 24, 37, 0.9);
    border-radius:32px;
    border:4px solid rgb(41, 42, 58);
}
.power-menu-popup .button {
    padding:0px;
    width: 240px;
    height: 120px;
    border-radius: 16px;
    background-color: rgb(41, 42, 58);
    font-family: "SegoeUI";
    color: white;
    border: 1px solid rgba(255,255,255,0.1);
    margin: 8px;
} 
.power-menu-popup .button.hover {
    background-color: rgb(55, 56, 75);
    border: 1px solid rgb(55, 56, 75);

}
.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight:600;
    color: rgba(255, 255, 255, 0.95);  
}
.power-menu-popup .button .icon {
    font-size: 48px;
    padding-top:8px;
    color: rgba(255, 255, 255, 0.25);  
}
.power-menu-popup .button.cancel .icon {
    color:rgba(243, 139, 168, 0.55);
}
.power-menu-popup .button.cancel .label {
    color:rgba(243, 139, 168, 0.95);
}
.power-menu-popup .button.shutdown .icon {
    color:rgba(137, 180, 250, 0.55);
}
.power-menu-popup .button.shutdown .label {
    color:rgba(137, 180, 250, 0.95);
}