* {
    font-size: 14px;
    color: #ffffff;   
    font-family: "SegoeUI Nerd Font SemiBold"

}
.bar {
    background-color: rgba(255, 255, 255, 0.062);
    padding: 0 8px; 
}
.container-left,
.container-center,
.container-right {
    margin: 0;
    padding: 0;
}
 
.widget {
    padding: 0 2px 3px 2px; 
}
.widget .label {
    padding: 0 2px
}
 
.ws-btn {
    background: rgb(168, 167, 167);
    color: rgb(0, 0 , 0);
    margin: 4px 3px;
    padding: 0 3px;
    border-radius: 3px;
}

.ws-btn:hover {
    background: rgb(194, 192, 214);
}

.ws-btn.active {
    background: rgb(224, 222, 244);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.clock-widget .label {
    padding: 0px 4px;
    background: none;
    font-size: 13px;
}

.active-window-widget .label {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 13px;
}
.komorebi-workspaces {
    padding: 0 2px
}
.komorebi-workspaces .ws-btn {
    border-radius: 5px;
    font-size: 20px;
    width: 10px;
    height: 10px;
    padding: 0 2px;
    color:  rgba(218, 231, 255, 0.3);
    background-color: rgba(0, 0, 0, 0);
}
.komorebi-workspaces .ws-btn:hover {
    color:  rgba(218, 231, 255, 0.5);
}
.komorebi-workspaces .ws-btn.populated {
    color:  rgba(218, 231, 255, 0.7);
}
.komorebi-workspaces .ws-btn.active {
    background-color: rgba(218, 231, 255, 0.8);
    color:  rgba(0,0,0,0);
    width: 28px;
}
 
.komorebi-active-layout .label{
    color: rgb(201, 204, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.system-widget {
    padding-left:0;
    padding-right: 0;
}

/* .system-widget.volume .label{
    color: #89b4fa;
} */
.system-widget.power .label {
    color: #f38ba8;
}

 
.system-widget .label{
    padding-left:6px;
    padding-right: 6px;
}

.system-widget .label:hover  {
    background-color: rgba(255, 255, 255, 0.1);
}

/* .system-widget .label.app1 {color:#89b4fa;} 
.system-widget .label.app2 {color:#89faa1;}*/


/*Power Buttons*/
.system-widget .label.power-button {
    color: #ff94b2;
} 
.power-button-widget {
    background-color: rgb(24, 24, 37);
    border-radius:12px;
    border:4px solid rgb(49, 50, 68);
}
 
.shutdown-buttons {
    padding:0px;
    width: 240px;
    height: 120px;
    border-radius: 8px;
    background-color: rgb(49, 50, 68);
    font-family: "SegoeUI";
    color: white;
    border: 1px solid rgba(255,255,255,0.1);
    margin: 8px;
}
 
.shutdown-buttons.hover {
    background-color: rgb(55, 56, 75);
    border: 1px solid rgb(55, 56, 75);

}
.shutdown-label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight:600;
    color: rgba(255, 255, 255, 0.95);  
}
.shutdown-icons {
    font-size: 48px;
    padding-top:8px;
    color: rgba(255, 255, 255, 0.25);  
}
.shutdown-buttons.cancel .shutdown-icons {
    color:rgba(243, 139, 168, 0.55);
}
.shutdown-buttons.cancel .shutdown-label {
    color:rgba(243, 139, 168, 0.95);
}


.shutdown-buttons.shutdown .shutdown-icons {
    color:rgba(137, 180, 250, 0.55);
}
.shutdown-buttons.shutdown .shutdown-label {
    color:rgba(137, 180, 250, 0.95);
}

/* 
EXAMPLE:
.shutdown-buttons.force_shutdown,
.shutdown-buttons.force_restart,
.shutdown-buttons.hibernate   {
    height: 40px;
    background-color: rgba(255, 148, 178, 0.204);
}
.shutdown-buttons.force_shutdown .shutdown-label,
.shutdown-buttons.force_restart .shutdown-label,
.shutdown-buttons.hibernate .shutdown-label  {
    margin-bottom:0px;
    font-size: 14px;
} */